
/* public/css/styles.css */
.header-section {
    background: linear-gradient(135deg, #3b82f6, #9333ea);
    padding: 60px 0;
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.header-section .container {
    position: relative;
    z-index: 2;
}

.feature-box {
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.3s;
}

.feature-box:hover {
    transform: translateY(-10px);
}

.icon-container {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(135deg, #3b82f6, #9333ea);
    border-radius: 50%;
}

.icon {
    width: 40px;
    height: 40px;
    color: #fff;
}

.bg-gradient-custom {
    background: linear-gradient(135deg, #3b82f6,#9333ea);
    color: white;
}

/* ---COLORING SECTION--- */
    /* --Solid-- */
        .color-soft {
            background-color: #d8b2fc8a;
            /* color: white; */
        }

        .color-prime {
            background-color: #1360dd;
            color: white;
        }

        .border-mid-blue{
            border-color: #1360dd;
        }

        .border-purple{
            border-color: #750fd4;
        }
        
    /* --------- */

    /* --Gradient-- */
        /* Gradasi Biru ke Orange */
        .color-gradient-blue {
            background: linear-gradient(135deg, #166af1, #750fd4);
            color: white;
        }

        /* Gradasi Ungu ke Pink dari atas ke bawah */
        .color-gradient-purple-pink {
        background: linear-gradient(to bottom, #6f42c1, #e83e8c);
        color: white;
    /* ----------- */
}
/* ---------- */

/* -----AVATAR-IMAGE----- */
    .avatar-custom {
        align-items: center;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid #9333ea; /* Warna dan ketebalan border */
        padding: 3px; /* Jarak antara gambar dan border */
    }

    @media (max-width: 1080px) {
        .avatar-custom {
            width: 120px;
            height: 120px;
        }
    }

    @media (max-width: 850px) {
        .avatar-custom {
            width: 90px;
            height: 90px;
        }
    }

    .avatar-custom-sm {
        align-items: center;
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #9333ea; /* Warna dan ketebalan border */
        padding: 2px; /* Jarak antara gambar dan border */
    }

    /**/


   
/* ---------------------- */

/* Button */

    .button-purple{
        background-color: #9333ea;
        color: white;
        font-size-adjust: 80;
        font-weight: 400; /* Mengatur ketebalan teks */
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
        padding: 0.375rem 0.75rem; /* Padding untuk memberi ruang di sekitar teks */
        width: fit-content;
        height: 40px;
    }
    .button-purple:hover {
        background-color: #a748ff;
        color: rgb(245, 245, 245);
        text-decoration: none; /* Menghapus underline saat hover */
    }

    .button-ol-purple {
        color: #9333ea;
        background-color: transparent;
        border: 1px solid #9333ea; /* Mengatur ketebalan outline */
        font-size-adjust: 80;
        font-weight: 450; /* Mengatur ketebalan teks */
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
        padding: 0.375rem 0.75rem; /* Padding untuk memberi ruang di sekitar teks */
        width: fit-content;
        height: 40px;
    }
    
    .button-ol-purple:hover {
        background-color: #771dcc;
        color: white;
        /* border-color: #9333ea; Mengatur warna outline saat dihover */
        text-decoration: none; /* Menghapus underline saat hover */
    }

    .button-in {
        color: white;
        background-color: #771dcc;
        /* border: 1px solid #9333ea; Mengatur ketebalan outline */
        font-size-adjust: 90;
        font-weight: 500; /* Mengatur ketebalan teks */
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
        padding: 0.375rem 0.75rem; /* Padding untuk memberi ruang di sekitar teks */
        width: 120px;
        height: 40px;
    }
    
    .button-in:hover {
        background-color: white;
        color: #9333ea;
        /* border-color: #9333ea; Mengatur warna outline saat dihover */
        text-decoration: none; /* Menghapus underline saat hover */
    }

    .button-into {
        color: #9333ea;
        background-color: rgba(255, 255, 255, 0.966);
        /* border: 1px solid #9333ea; Mengatur ketebalan outline */
        font-size-adjust: 90;
        font-weight: 500; /* Mengatur ketebalan teks */
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
        padding: 0.375rem 0.75rem; /* Padding untuk memberi ruang di sekitar teks */
        width: 120px;
        height: 40px;
    }
    
    .button-into:hover {
        background-color: #771dcc;
        color: white;
        /* border-color: #9333ea; Mengatur warna outline saat dihover */
        text-decoration: none; /* Menghapus underline saat hover */
    }
    
    
